# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Data
data/raw/*
!data/raw/.gitkeep
!data/raw/atp_matches_2020.csv
!data/raw/atp_matches_2021.csv
!data/raw/atp_matches_2022.csv
!data/raw/atp_matches_2023.csv
!data/raw/atp_matches_2024.csv
!data/raw/atp_players.csv

data/processed/*
!data/processed/.gitkeep


# Logs
*.log
